!.gitkeep
.#*
.DS_Store

01-cloud-init.txt
02-manual-commands.txt
03-sawtooth-peer-commands.txt
03-sawtooth-seed-commands.txt
04-sawtooth-commands.txt
thumbs.db
*.log*
*.zip*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
